#nameID {
     width: 100%;
     color: #333333;
     height: 150px;
     margin: 0 auto;
     overflow: hidden;
     padding: 10px 0;
     align-items: center;
     justify-content: space-around;
     display: flex;
     font-family: 'Aldrich';
     font-size: 22px;
     float: none;
}
 #aboutTextID {
     text-align: justify;
     text-justify: inter-word;
}
 html {
     position: relative;
     min-height: 100%;
}
 body {
     margin-bottom: 60px;
    /* Margin bottom by footer height */
}
 .footer {
	 display: inline;
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 60px;
    /* Set the fixed height of the footer here */
     line-height: 60px;
    /* Vertically center the text there */
     text-align: center;
     vertical-align: middle;
     background-color: white;
}
.iconsFooter {
	font-size: 45px;
	letter-spacing: 10px;
}
.nonIconsFooter {
	
	margin-right: 10px;
}
 .image {
     opacity: 1;
     display: block;
     width: 100%;
     height: auto;
     transition: .5s ease;
     backface-visibility: hidden;
}
 .middle {
     transition: .5s ease;
     opacity: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%) 
}
 .selectedImage:hover .image {
     opacity: 0.2;
}
 .selectedImage:hover .middle {
     opacity: 1;
}
 .text {
     font-family: 'Aldrich';
     font-weight: bold;
     text-align: justify;
     text-justify: inter-word;
     color: green;
     font-size: 16px;
     padding: 16px 32px;
}
 .selectedImage .caption {
     text-align: center;
     vertical-align: middle;
}