a {
	color: black;
	font-weight: bold;
}

h6 {
	color: rgb(140, 45, 25);
	text-align: center;
	font-weight: bold;
	font-family: 'Aldrich';
}

.rightAlign {
	text-align: right;
}

a:hover, a:active, a:focus {
	color: rgb(140, 45, 25);
	font-weight: bold;
}

.nav-tabs .nav-link.active {
	color: rgb(140, 45, 25);
	font-weight: bold;
}

.btn-dark {
    color: white;
    background-color: black;
    border-color: black;
}

.btn-dark:hover {
    color: white;
    background-color: rgb(140, 45, 25);
    border-color: rgb(140, 45, 25);
}

.popover-body, .popover-header {
    color: black;
	font-family: 'Aldrich';
	font-weight: bold;
    font-size: 15px;
	text-align: center;
}

#nameID {
     width: 100%;
     color: black;
     height: 120px;
     margin: 0 auto;
     overflow: hidden;
     padding: 10px 0;
     align-items: center;
     justify-content: space-around;
     display: flex;
     font-family: 'Aldrich';
     font-size: 22px;
     float: none;
}
#mainContainer {
	-webkit-box-shadow: 13px 13px 28px -10px rgba(140,45,25,0.77);
	-moz-box-shadow: 13px 13px 28px -10px rgba(140,45,25,0.77);
	box-shadow: 13px 13px 28px -10px rgba(140,45,25,0.77);
}
 #aboutTextID {
     text-align: justify;
     text-justify: inter-word;
	 font-size: 15.9px;
}
 html {
     position: relative;
     min-height: 100%;
}
 body {
     margin-bottom: 60px;
}

.nav-item {
	font-family: 'Aldrich';
	font-weight: bold;
	letter-spacing: 4px;
}

.iconCompetences {
  color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.keltest {
	margin-bottom: 1em;
}

 .footer {
	 display: inline;
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 60px;
    /* Set the fixed height of the footer here */
     line-height: 60px;
    /* Vertically center the text there */
     text-align: center;
     vertical-align: middle;
     background-color: white;
}
.iconsFooter {
	font-size: 45px;
	letter-spacing: 10px;
}
.nonIconsFooter {
	
	margin-right: 10px;
}
 .image {
     opacity: 1;
     display: block;
     width: 100%;
     height: auto;
     transition: .5s ease;
     backface-visibility: hidden;
	 border: 1px solid black;
}
 .middle {
     transition: .5s ease;
     opacity: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%) 
}
 .selectedImage:hover .image {
     opacity: 0.2;
}
 .selectedImage:hover .middle {
     opacity: 1;
}
 .text {
     font-family: 'Aldrich';
     font-weight: bold;
     text-align: justify;
     text-justify: inter-word;
     color: rgb(140, 45, 25);
     font-size: 16px;
     padding: 16px 32px;
}

 .selectedImage .caption {
     text-align: center;
     vertical-align: middle;
}